# Recap

> I am about to potentially endeavour to learn both python and rust at the same time. I have a good understanding of basic python by now and am looking forward to building with it but I figure it'd be good to future proof w/ having javascript for the web, python for data analysis and AI as well as rust for low level stuff. It might be a lot to learn rust because already looking at it, it's pretty complicated but that's what should be expected of a low level language I guess. If it seems too difficult to do both at the same time I'll stop but the first step is to make sure that I understand python so that I can not confuse myself. Let's go over the basics

## Syntax

> Asking chatgpt to give me a basic lesson plan of the order I need to learn python, it gave me a learning plan of what I should learn by weeks. Let's test to see if I have what I need to know up to classes. It starts w/ syntax

### Variables, comments, Indentation

Variables in python are all super easy. You just have to initialize variables w/ a name and the value or just the name if it's blank

In [2]:
name_var = 22
print(name_var)

22

Python has optional type hints that can help readability

In [11]:
name_var: int = 22
print(name_var)
another_var: str = "Hello govana"
print(another_var)

22
Hello govana

This can also be used w/ functions and their return values

In [13]:
def say_hello_to(name: str) -> None:
    print(f"Hello {name}")


say_hello_to("Joseph")

Hello Joseph

-   `None` is used here because the function returns nothing

In [14]:
def add_nums(x: int, y: int) -> int:
    return int(x) + int(y)


add_nums(2, 5)

7

-   `int` is used here because a number is returned

In [21]:
# This is how you comment in python

%%javascript
//this is how you comment in javasript !

As seen already w/ functions python uses indents rather than curly braces(like some langs-javascript-)

In [22]:
def function_name():
    print("function code")


function_name()

function code

-   The syntax ^
-   for nesting functions, more indents are needed
-   indents typically follow 4 space rule (no tabs- as w/ most languages I've come across)

## Basic Types

The basic types are `int` , `float` , `string`

In [26]:
numba: int = 22
numba_with_decimal: float = 22.2
stringy: str = "henlo"

print(
    "The integer {} , the float {} , the string {}".format(
        numba, numba_with_decimal, stringy
    )
)

The integer 22 , the float 22.2 , the string henlo

If types are combined python will attempt to change them to the same time

In [29]:
print(22 + 22.3)

44.3

-   Here both numbers are turned into a float so they can be added

Sometimes that doesn't work

In [31]:
print(22 + "22")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Here it's because python has a concatenation method for strings that would normally smush em together and that's ruined with another number

In [32]:
print("hi" + " " + "there")

hi there

It's important to make sure types are the same. It can be done by parsing variables likely to not be the same before putting them together

In [33]:
print(int("22") + 22)

44

-   Here using `int(value)` transforms the value into an int
-   same goes for `float(value)`
-   also `str(value)`

In [38]:
ex_val = 22
print(str(ex_val))

22

-   It's a string trust me...

Booleans are also a type which represent `True` or `False`

In [39]:
print(True)
print(False)

True
False

This is mostly used to handle conditions but there are important things to know about booleans

-   strings are true
-   numbers are true
    -   0s are false
-   None is false

In [43]:
print(bool(0))

print(bool(22))

print(bool("hi"))

print(bool(-22))

False
True
True
True

## Conditionals

> if, elif, else

Conditionals are all about changing code behavior based on events, variable values and just overall things that are generally not set in stone but instead have potential different outcomes

In [49]:
import random

random_num: int = random.randint(1, 100)
guess: str = input("Guess the number between 1,100 :")
guess: int = int(guess)
if guess == random_num:
    print("yay you guessed right!!")
elif guess > random_num:
    print(f"Sorry you guessed too high. Correct answer is {random_num}")
else:
    print("sorry too low. Correct answer is {}".format(random_num))

Guess the number between 1,100 : 22

sorry too low. Correct answer is 67

## For & while loops

> Loops that continue within a sequence(for) or while a condition is true(while loops)

Strings,lists,objects, tuples and sets are all sequences. Since so far I've only covered strings let's use that as an example

In [50]:
seq = "hello"

for char in seq:
    print(char)

h
e
l
l
o

-   Every character in the string is iterated through. The same is done for other types that are sequences

For while loops let's do a guessing game that keeps going until you're right. I'll use lower numbers this time to make it easier

In [3]:
import random

rand_num: int = random.randint(1, 11)
# up to but not including 11
guess: str = ""
while guess != rand_num:
    print("Time to guess the lucky numbeeerrr!! It's between 1 and 10")
    guess: int = int(input("What's your guess? "))
    match rand_num == guess:
        case True:
            print("You are correeectt")
            break
        case False:
            print("Sorry. Try again")
            if rand_num > guess:
                print("too low")
            else:
                print("too high")
            continue

Time to guess the lucky numbeeerrr!! It's between 1 and 10

What's your guess?  2

Sorry. Try again
too high
Time to guess the lucky numbeeerrr!! It's between 1 and 10

What's your guess?  1

You are correeectt

## Functions!

> Functions are used to deal w/ repeatable code. Functions are like storing multiple lines of code with a _function_ to be used for later

In [10]:
def say_hello_to(name: str) -> None:
    print("Hello {}".format(name.capitalize()))


say_hello_to("dave")
say_hello_to("cindy")
say_hello_to("sarah")

Hello Dave
Hello Cindy
Hello Sarah

In the code above, the function says high to whatever name is passed in. The name is also capitalized for \*\*respect\*\*

### Input

Functions can take inputs as seen above and return outputs

In [2]:
def say_hi(input_here:str)->str:
    return 'hi {}'.format(input_here)

print(say_hi('Julie'))

hi Julie

In the example above the function takes an input of ``input_here`` as a string and returns a string as the output. Return can be used to send any single variable back

### Outputs

In [3]:
def say_hi(input_here:str)->str:
    return 'hi {}'.format(input_here)

vari = (say_hi('Julie'))

print(vari)

hi Julie

Returning is useful for taking the output a function to put into a variable as seen above

### Scope

>Scope is something that is univerally important in programming. The scope of variables, values, functions, methods etc matters in whether or not those things can be used a certain time

In functions, the scope of that function is the function itself so variables and other functions created in that function can only be accessed by or through it

In [7]:
def vari():
    x = 22
    print(x) 
vari()

print(x)

22

NameError: name 'x' is not defined

An error is raised here because the x variable only exists within the scope of x. This is a very basic example but it can be treated like a parent child relationship w/ the child being able to access the parent but the parent not being able to access the child

In [9]:
x = 22 
def vari():
    x = 26
    print(x)

vari()

26

In [10]:
x = 22 
def vari():
    x = 26
    print(x)

print(x)

22

## Lists and Tuples 
> Lists and Tuples are 2 more advanced types in pythons that are used to collect data

#### Tuples

In [12]:
# Basic list syntax:

aList = [] #empty list
bList = [2,43,2] #number list
cList = ['hi',33] #mixed list 
dList = [22, 'hello', [2, 3]] # nested list

print(dList[2]) # accessing nested list

[2, 3]

Lists have methods to alter the data inside. We'll go over some quick ones

In [25]:
aList = []
print(aList)
aList.append(22)
print(aList)
aList.append(2)
for i in [2,4,7,8,1,2]:
    aList.append(i)
print(aList)
aList.pop()
print(aList)
aList.sort()
print(aList)
aList.remove(22)
print(aList)
aList.clear()
print(aList)

[]
[22]
[22, 2, 2, 4, 7, 8, 1, 2]
[22, 2, 2, 4, 7, 8, 1]
[1, 2, 2, 4, 7, 8, 22]
[1, 2, 2, 4, 7, 8]
[]

#### Tuples

> Tuples are like lists except they are immutable meaning the values inside do not change, cannot be added to or removed from etc
>
> If any changes are to be done to tuples, they most be copied
> Tuples can contain repeated values

In [29]:
aTuple = tuple() #empty tuple
print(aTuple)
bTuple = (2,5,2)
print(bTuple)
bTuple.pop()

()
(2, 5, 2)

AttributeError: 'tuple' object has no attribute 'pop'

In [36]:
aTuple = (2,3,5)
aList = list(aTuple)
aList.append(22)
bTuple = tuple(aList)
print(bTuple)

(2, 3, 5, 22)

Since lists and tuples are so similar, alterations to tuples can be done w/ a list that was created from a tuple then that value can be turned back into a list

## Dictionaries and Sets
> Dictionaries are used to store data in ``key:value`` pairs
> Sets are like a mix between lists and dictionaries. Can be though of as dictionaries that hold only keys since the values cannot be repeated

### Dictionaries

In [43]:
aDict = {} #empty dictionary
print(aDict)
aDict['key'] = 'value'
print(aDict)
bDict = {'key': 'value', 2: 'timothy', 'names': ['jason', 'mervin']}
print(bDict)
print(bDict[2])
print(bDict['names'])
print(bDict['names'][1])

{}
{'key': 'value'}
{'key': 'value', 2: 'timothy', 'names': ['jason', 'mervin']}
timothy
['jason', 'mervin']
mervin

Dictionaries are useful when organized data is needed

### Sets
> Sets **cannot** contain repeated data

In [47]:
aSet = set() #empty set
print(aSet)
bSet = {2, 3 , 4}
print(bSet)
cSet = {2, 3, 2, 12}
print(cSet)
# Reduced if same values are present
try:
    print(cSet[2:])
except TypeError:
    print("Sets cannot be indexed. The values are unordered")

set()
{2, 3, 4}
{2, 3, 12}
Sets cannot be indexed. The values are unordered